[2012-10-18 09:02] e11137 opened #2 "tag a first version"
Hi Mike,
could you make a tag to allow npm install from tarball.

Regards

Rogelio CANEDO

[2012-10-20 09:52] #2 closed, assigned to nobody

[2012-11-26 17:55] nicktackes opened #3 "having difficulty obtaining a connection from the pool"
Hello,
I am attempting to use tedious and the tedious connection pool, but i'm having some difficulties.

when i request a connection, i get the following log information

INFO pool  - dispense() clients=1 available=0
VERBOSE pool  - createResource() - creating obj - count=1 min=0 max=1

Here are a few snippets from my node server...

var ConnectionPool = require('tedious-connection-pool');
var Re

[2012-11-27 21:11] #3 closed, assigned to nobody

[2012-12-05 22:39] kimi23 opened #4 "Connecting to remote Sql Server using node tedious"
Hi Pekim,

I am trying to connect to my test database server form my local box. suing tedious connection pool and having great difficulty.,

Can you please help me ASAP.

Thanks heaps.. My code:

var ConnectionPool = require('tedious-connection-pool');
var Request = require('tedious').Request;

var connectionConfig = {
    "userName": "user",
    "password": "user1",
    "server": "test001",
    "

[2012-12-10 01:22] kimi23 opened #5 "Connection Issues"
Hi there,

Has anyone got the following erro when trying to connect to a remote sql server database.

This si a very urgent problem and any help to help me resolve this will be highly appreciated:

Thanks in advance.

Code:

var ConnectionPool = require('tedious-connection-pool');
var Request = require('tedious').Request;

var tediousConfig = {
    "userName": "test",
    "password": "test",
    "

[2013-05-02 18:59] catoszyrko opened #6 "response.write on Tedious connection pool"
Hello Pekin,
Can you help me about print results on site,

I could print on console.log but not on website.

var ConnectionPool = require('tedious-connection-pool');
var Request = require('tedious').Request;

[code]

[2013-05-12 09:38] #6 closed, assigned to nobody

[2014-10-28 23:58] #4 closed, assigned to nobody

[2014-10-28 23:58] #5 closed, assigned to nobody

[2014-10-29 10:01] yasen-atanasov opened #11 "Tests not up to date."
The test suite has not been updated to reflect the state of version 0.2.x and doesn't work at all.

[2014-10-29 18:31] #11 closed, assigned to nobody

[2014-11-07 16:39] yasen-atanasov opened #12 "Memory leak when DB connection is temporarily lost."
Hi,

We had a brief DB outage which sent our app into a huge memory leak situation. Investigation showed that the connection pool, when unable to connect to the DB starts trying to create new connections to replace the failed ones sequentially, going into a loop and leaking a lot memory. This can be simulated by simply trying to connect to a DB with the wrong credentials. Here's the example code:

[2014-11-11 02:27] #12 closed, assigned to ben-page

[2014-12-13 11:39] iamtennislover opened #13 "Keep getting acquire Timeout error"
I keep getting acquire Timeout, even after closing all the sessions and calling connection.release(); connection.close();. I would like to know what I can do to avoid this situation?

Does acquire timeout error indicate that the sessions are not getting closed?

[2014-12-14 00:02] #13 closed, assigned to nobody

[2015-02-02 14:52] bergerdenes opened #15 "opening too many connections kill tedious driver"
When I try to create about 1000 - 2000 connections with the pool, sometimes (not always..) I got the following error log:
connection closing because of error
error: { name: 'ConnectionError',
  message: 'Failed to connect to MACHINENAME:undefined in 15000ms',
  code: 'ETIMEOUT' }

[2015-02-02 22:47] ben-page commented on #15
This has nothing to do with tedious-connection-pool. The error is coming from Tedious directly. You should report it there.

Frankly, I doubt this is a bug at all. I'm guessing that your SQL Server can not create thousands of  new connections within 15 seconds. You could lengthen the timeout in Tedious. But really, why are you opening that many connections? That kind of defeats the benefit of usin

[2015-02-02 22:47] #15 closed

[2015-02-16 21:07] lloydcotten opened #16 "Overriding max doesn't change min"
If you pass in optional config overrides and include only `max` and `max` is less than the default `min` value, tedious-connection-pool will still establish the default `min` connections.

The default `min` value is 10, so if the `max` value is changed to something like 5, it will still establish 10 connections.

IMO, if the `max` pool size is changed from the default but `min` is not specified (i

[2015-02-17 08:11] ben-page commented on #16
I agree. I'd welcome a PR.

[2015-02-18 17:58] lloydcotten commented on #16
PR #17 created.

[2015-02-18 17:58] #16 closed

[2015-03-30 14:15] SergioGeeK7 opened #18 "I can't listen the 'done' event"
that is wrong in this code ...

var ConnectionPool = require('tedious-connection-pool'),
    Request = require('tedious').Request;

var poolConfig = {
    min: 10,
    max: 50,
    log: false
};

var connectionConfig = {
  server: 'some',
  userName: 'sa',
  password: 'some.',
  options: {
    database: 'myTest',
    instanceName: 'SQL2012',
    rowCollectionOnDone:true
    //rowCollectionOnReques

[2015-03-30 19:43] ben-page commented on #18
Have you tried listening for the `doneProc` or `doneInProc` events? You should consult the docs for Tedious. You may have to experiment, the docs aren't clear about which events are fired for which function (`execute`, `execSql`, and `execSqlBatch`). This discussion may be helpful to you: https://github.com/pekim/tedious/issues/61

Ultimately, this question is about tedious, not tedious-connection

[2015-03-30 19:43] #18 closed

[2015-03-30 20:22] SergioGeeK7 commented on #18
thank you bro... yeah I will do. and sorry but this repository is more active than tedios . for that I made that question

[2015-04-10 17:21] NoumanSaleem opened #19 "Exception"
Started seeing this exception after the process has been running for a while (v0.3.5)

[code]

Nothing fancy in the setup:

[code]

[2015-04-10 18:44] ben-page commented on #19
I can't quite reproduce this error, but I think I found the problem. It seems that even if a connection errors out, it can still timeout. Then the timeout handler tries to close a connection that doesn't exist. Will you please test v0.3.6?

[2015-04-10 21:03] NoumanSaleem commented on #19
@ben-page sure thing, getting this pushed out and will watch it over the next day.
Thank you!

[2015-04-13 15:52] NoumanSaleem commented on #19
@ben-page that did it. Haven't seen any exceptions yet.
thanks!

[2015-04-13 15:52] #19 closed

[2015-05-29 20:19] jdonnerstag opened #20 "drain callback not always invoked"
On my laptop I have no MSSQL installed. I use min 2 and max 4. Upon the timeout the 'error' event handler is invoked. In there I'm calling pool.drain(function() { ... }). I can reproduce that the callback does not get called. Trying to determine the reason I figured  connections.length is 2 (as expected), and waiting.length is 1.
In your ConnectionPool.prototype.drain implementation however, while

[2015-06-04 12:38] jdonnerstag opened #21 "drain() does not release all (network) resources"
Like in the previous issue, I want to test first the behavior with no MSSQL installed. Obviously it is not able to establish a connection, an error gets emitted, and my error handler invokes drain(). My little test does nothing else. Interestingly node.js does not exit for another 5-10 secs after the drain callback has been called. And that is because (network) resources are not yet released. proc

[2015-06-04 15:13] ben-page commented on #21
Apologize but I'm out of the country for a couple more weeks. I don't have access or time to look into this. If you would like to submit a pull request, I'll find some time to review in within  a few days.

[2015-06-24 22:05] #20 closed

[2015-06-24 22:06] ben-page commented on #20
Fixed in 0.3.7.

[2015-06-24 22:07] ben-page commented on #21
I'm not sure what _activeHandler is. Maybe you mean _getActiveHandles?

Anyway, in my tests no network resources are left open, but the retry timer (which defaults to 5 seconds) isn't being cleared. Maybe you didn't wait long enough before checking the handlers. They do take a few hundred milliseconds to close.

Anyway, the retry timer is cleared properly in 0.3.7

[2015-06-24 22:07] #21 closed

[2015-06-30 22:46] fryeguy63 opened #22 "connections not releasing properly"
I took over a project using this module to manage MSSQL connections. Many of the API endpoints have multiple queries. One query gets a list of IDs. Each ID is then used in an additional query. The code uses a simple for loop to manage the queries.

I have found that the maximum number of queries that can be run inside the loop is equal to the MIN connections configuration setting. So if MIN is 10,

[2015-06-30 22:58] fryeguy63 commented on #22
I just verified that if I set the connection pool MIN to 0 I get one good query and the rest fail in this context.

[2015-07-01 14:23] ben-page commented on #22
I can look into this, but will you please post an example that includes the loop and acquire() call?

[2015-07-01 15:31] fryeguy63 commented on #22
I updated the post with full code. I am also fully expecting that this code is the problem and not the pool...

[2015-07-01 21:11] ben-page commented on #22
I didn't execute the code, but there are few obvious problems.
### Issue 1
If an error happens, connection.release() is not called. The connection will just stay open until it times out and the pool reclaims it.
### Issue 2
It suffers from the closure loop problem. I strongly recommend that you spend some time on this. Understanding scope is vital to successful JavaScript programming. Consider thi

[2015-07-01 21:11] #22 closed

[2015-07-02 06:30] fryeguy63 commented on #22
I really appreciate your thoughtful response. It is awesome that you were willing to take the time to help me knowing that your code was not the issue. For a quick fix I was able to run node in harmony mode and replace the ```var i = 0``` statements with ```let i = 0```. ```let``` was referenced on MDN and by allowing for local block variables the problem went away. I don't like this as a solution

[2015-10-13 23:43] ashelley opened #23 "connection pool doesn't not respect request callback on socket error"
Hello,

I've just reported a problem with tedious not calling the request callback when a socket error occurs.

https://github.com/pekim/tedious/issues/324

However, If the above issue was fixed there is still a problem with how the connection pool deals with connection errors.  currently in tedious on a socket error the error event gets emitted before it internally routes to the error state:

htt

[2015-10-26 19:30] ashelley commented on #23
Hello I have created a pull request to address this issue:

https://github.com/pekim/tedious-connection-pool/pull/24

[2015-10-27 19:41] #23 closed

[2015-12-14 16:06] boredSinan opened #26 "How to fill the pool with different connections?"
Hi.
#### I am calling the following function 5 times for different select-statements and write the results in an array as follows:

[code]

The display output of the array elements looks like:
![image](https://cloud.githubusercontent.com/assets/7433300/11785895/1338e67e-a284-11e5-8474-3d1eda380c11.png)

#### This is my problem:
There is only 1 connection which fills the pool, therefore there is al

[2015-12-15 02:20] ben-page commented on #26
Hello, will you please add a complete example? Your example code doesn't do what your output shows. Also, please be sure to include your pool config.

[2015-12-15 02:31] ben-page commented on #26
Just FYI, the connection-pool will not give you the same connection again until you release it. I'm not sure what is making your think that you are getting the same connection, but that's not how the connection pool works.

One thing that I noticed when trying to run your example, is that you are setting i to 0 on every call to execute_SELECT_Statement. So i is always 0 when accessed.

[2015-12-15 07:50] boredSinan commented on #26
Thanks a lot ben-page,
#### here is my code with the pool config:

[code]

#### Changes:
" i " is called now " loop_count " and it is not initialized in the function anymore.

[2015-12-15 19:40] #26 closed

[2015-12-15 19:55] ben-page commented on #26
This code has a lot of problems.

* There is no guarantee the queries will return in the order you called them. They are just appended to the end of `select_result`, but that could be any order. For example, the query for Brand could easily return before the query for Address.

* If there are multiple rows in `table` this would become even more problematic. The values from the columns in all the r

[2016-01-12 09:06] leibale opened #27 "Cannot call method 'close' of undefined"
[code]

[2016-01-12 15:38] ben-page commented on #27
Please provide example code,so I can reproduce the problem.

[2016-01-12 15:55] leibale commented on #27
i don't know when it's happens. i can give you the list of the functions i use: acquire, release. and i think this is happen when there is a lot of connection errors.

[2016-01-12 16:59] ben-page commented on #27
Please confirm that you are using the latest version. There was a big with similar symptoms a while back.

It would be very helpful if you could narrow the problem  down for me. I'll try infer how this could happen, but without an example I'm not likely to figure it out.

The difficulty is that this is likely to be a bug in your code or your code doing something unexpected which is revealing a bug

[2016-01-12 17:20] leibale commented on #27
yes, i'm using version 0.3.9.

i can't give you an example because i don't know what's trigger that.

i going to check my code if is doing something unexpected.

my database have a lot of problems (mostly connection errors) and before i didn't have this error. maybe it's because the last update of SQL Server (v12).

and in my debug session of your code it looks like the test not throw error if the

[2016-02-12 21:11] akc42 opened #29 "What happens on connection timeout?"
I have an application which I spend a lot of my time debugging the client side.  When I do eventually get around to making a database request I quite frequently, but not always get the following error...

Requests can only be made in the LoggedIn state, not the Final state"  (edited because I had added some to the error message)

Which I am assuming means I am trying to make a request on a timed o

[2016-02-13 08:19] akc42 commented on #29
I just conducted an experiment by switching on logging and also adding a line to log the connection acquired (it would be useful if always did this).  With the debugging on, I can see that it closed an idle connection and then handed it to me on the next acquire.  My request then immediately failed with "Requests can only be made in the Logged In state"

[2016-02-13 10:24] akc42 commented on #29
Done a bit of debugging on this with my own copy.  There main issue is that there is a gap between the idle timeout being called and the connection end event being emitted.  In that gap the status of the pool for this connection is FREE.  As a result new requests can pick this connection up that is in the process of closing and try and re-use them.

The reason that I am seeing the problem quite fr

[2016-02-13 13:43] akc42 commented on #29
OK, all understood now.

The reason I was not seeing the connection end was I had removed all listeners from the connection at the end of the request.  So this was making the gap between timing out and closing the connection, and this connection being removed from the connection pool infinitely long.  This was a bug on my part and I have fixed it.

I am not sure if there is a gap now between the c

[2016-02-13 13:43] #29 closed

[2016-02-22 14:50] o-e opened #32 "Tedious connection.release() messes up newrelic error log"
Hi,

I am having a hard time deciding on where to put this issue up - newrelic forum, stackoverflow, or here.

However, I have described the issue on the newrelic forum:

https://discuss.newrelic.com/t/custom-parameters-are-lost/34768

If you have any input I would be super happy about it!

/o

[2016-03-10 09:12] gkorland opened #33 "Add Exponential Backoff mechanism"
The current retry mechanism is too aggressive for SQL Azure.
Too many consecutive retries get "punished" by SQL Azure.

See:

1. [Retry service specific guidance
](https://azure.microsoft.com/en-us/documentation/articles/best-practices-retry-service-specific/)
2. [Transient Fault Handling (Building Real-World Cloud Apps with Azure)](http://www.asp.net/aspnet/overview/developing-apps-with-windows-a

[2016-03-11 11:46] o-e commented on #32
I ended up adding a custom transaction for new relic.

[2016-03-11 11:46] #32 closed

[2016-03-30 11:22] leibale commented on #27
i will reopen when it's will happen again

[2016-03-30 11:22] #27 closed

[2016-03-30 11:48] nvsoares opened #35 "Requests can only be made in the LoggedIn state"
I'm having trouble making multiple requests.
Here is my code:
[code]

When I run the application I get the following error:

[code]

What should I do to execute commands at a time?

[2016-05-04 02:06] seanlindo commented on #33
@gkorland I want to make sure I've understood the issue correctly-- is it possible that some users would see wait times for whatever action they're taking in the UI reach *minutes*?

[2016-05-06 10:10] gkorland commented on #33
@seanlindo no of course not but when a pool is retrying to fill the minimum connections it should use this retry gracefully.

[2016-05-06 15:58] ben-page commented on #35
I'm not sure if this is what you intended, but your code uses the same connection for all four request. There are two problems with your approach. First, you are releasing the connection it back to the pool after the first request. You should not continue to use the connection after releasing it. Second, you are not waiting for the previous request to complete before starting another request. SQL

[2016-05-06 15:58] #35 closed

[2016-05-06 16:58] ben-page commented on #33
I'll try to find some time to look over this. But, I'd definitely accept a PR for this.

[2016-05-27 17:20] nvsoares commented on #35
Hello @ ben-page.
I followed your instructions and I'm closer to the end result I want to achieve. Now, we need to ensure is that all controls are within the same transaction, so that if one fails all the others are broken.
How to do this using the connection-pool?

[2016-05-27 17:48] ben-page commented on #35
Tedious has built-in support for transactions. The connection pool isn't really involved. Just be sure to [begin](http://pekim.github.io/tedious/api-connection.html#function_beginTransaction) before your queries, [commit](http://pekim.github.io/tedious/api-connection.html#function_commitTransaction) or [rollback](http://pekim.github.io/tedious/api-connection.html#function_rollbackTransaction) afte

[2016-05-27 18:19] nvsoares commented on #35
Hello @ ben-page.
Sorry but I do not see how. Here is a brief example. How would you do the transaction management? Can you show, please?

app.js
[code]

[2016-05-27 19:44] ben-page commented on #35
@nvsoares, you can't run the queries in a transaction in parallel. Queries in a transaction must be run one at a time. What you need to do (in this order) is acquire a connection, begin a transaction, execute each query one at a time, commit the transaction, and release the connection.

FYI Your question is really about basic database programming patterns. It isn't about `tedious-connection-pool`

[2016-06-06 09:05] aeolusheath opened #36 "get connection Status, pool.acquire method is the only way?"
Hi pekim,   I create a connection pool as your steps

But I wanna know the connection is valid or not  when I create connection.pool .

now  after I  invoke the pool.acquire method ,in the callback  I get the result that connection  is invalid.

what should I do  ?

[2016-06-06 18:59] ben-page commented on #36
Please post an example.

[2016-06-07 05:59] aeolusheath commented on #36
[code]
@ben-page

[2016-06-07 20:34] ben-page commented on #36
This is the JavaScript and Node.js way of doing things. There are no threads, so blocking actions are executed asynchronously. The connection pool and underlying Tedious connections follow these principles. At the point you call `acquire()`, the pool hasn't even started creating connections.

You need to understand how asynchronous callback work. Basically, the function passed to `acquire` is not

[2016-06-07 20:34] #36 closed

[2016-06-08 07:18] aeolusheath commented on #36
@ben-page
get it!
thanks very much.

[2016-06-10 05:20] PeterNierop opened #37 "Issue with connection closed"
I got this if somehow the connection is closed

Tedious-Connection-Pool: connection reset: 1
Tedious-Connection-Pool: acquired connection 1
{ RequestError: SHUTDOWN is in progress.
    at RequestError (F:\TestConnection\node_modules\tedious\lib\errors.js:34:12)
    at Parser.<anonymous> (F:\TestConnection\node_modules\tedious\lib\connection.js:207:36)
    at emitOne (events.js:96:13)
    at Parser

[2016-06-14 16:19] nvsoares commented on #35
hi, @ben-page. thanks for your help.

In fact my question is very basic . I confess that it is extremely difficult to work with tedious . Although it is well documented, the truth is that for those coming from other approaches ( desktop / .NET) is a challenge. What in .NET is simple and with only 5 lines of code is done and it works here is very difficult and , despite the explanations , still doe

[2016-06-16 00:13] bachvudao commented on #37
I got a similar issue. I fixed it in my by providing a call back in the connection:

`ConnectionPool.prototype.release = function(connection, callback)`

I think this would be a useful feature in the API. Can we add it?

[2016-06-16 00:38] PeterNierop commented on #37
While 50 dollar is not much, I did put up a bonus which is yours if you can provide me with a worked out example of how to do that. Pardon my noob status. I come from Microsoft land... so what you describe is just not yet in my grasp.
To claim reward please find this: https://www.bountysource.com/issues/34547563-failed-to-connect
If you have some example please mail to peternierop@yahoo.com
Thank

[2016-06-16 00:56] ben-page commented on #37
@PeterNierop, will you please provide example code?

[2016-06-16 00:58] ben-page commented on #37
@bachvudao, how would this work? The connection is release immediately. Callback are typically only needed for asynchronous operations. Please provide examples of how this works and what problem it solves.

[2016-06-16 01:00] ben-page commented on #37
@PeterNierop, what version of tedious-connection-pool are you using? This looks like a bug that was fixed last October.

[2016-06-16 01:01] PeterNierop commented on #37
Sorry for asking, How do I use that callback?  I am looking for something that allows me to catch the lost connection.
This is a section of my code i wrote for Node
pool.acquire( (err, connection) => {                        if (err) {                            console.log(err);                            // ************************ never gets here but it should ************

                   

[2016-06-16 01:07] ben-page commented on #37
@PeterNierop, please fix the formatting on your example. I'm not going to try to figure it out in it's current state.

To answer your question, you can catch errors, but subscribing to the error event on the pool. The example main example in the README.md shows how to do this.

The err parameter of acquire only handled errors specifically related to acquiring the connection, not other connection e

[2016-06-16 01:08] PeterNierop commented on #37
Latest latest. That seems at least the case since I started this project in February. And I most certainly updated several times.

    On Thursday, June 16, 2016 5:00 AM, Ben Page <notifications@github.com> wrote:

 @PeterNierop, what version of tedious-connection-pool are you using? This looks like a bug that was fixed last October.—
You are receiving this because you were mentioned.
Reply to thi

[2016-06-16 01:08] PeterNierop commented on #37
Also it can be easily tested by killing the SQL server... it straight pops the code

    On Thursday, June 16, 2016 5:00 AM, Ben Page <notifications@github.com> wrote:

 @PeterNierop, what version of tedious-connection-pool are you using? This looks like a bug that was fixed last October.—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute t

[2016-06-16 01:15] ben-page commented on #37
When you can please use the website (rather than email) to post a clean example.

[2016-06-16 01:38] bachvudao commented on #37
Hi @ben-page,

So my scenario is like this:

1. I have a list of insert I'd like to execute. So I used the pool to execute them all. When all inserts are done, I would like to drain the pool.
2. When each request finishes, I'd release the connection like below:

[code]

The subject var is a Rx subject.

3. To know when all my requests are done, I just subscribe to the Rx subject and drain the pool

[2016-06-16 21:31] ben-page commented on #37
@PeterNierop, your example doesn't seem to be using `tedious-connection-pool` at all. It's creating the connections directly.

I did fix a condition where `TypeError: Cannot read property 'close' of undefined` could be thrown. But I don't know if this solved your entire problem. If not, please post a complete example, including creating the pool, acquiring the connection, and releasing the connect

[2016-06-16 21:33] ben-page commented on #37
@bachvudao, passing a callback to `release()` does nothing. It will never be executed.

[2016-07-13 21:16] tvrprasad opened #38 "Update memory-usage test to add validation."
## Expected Behavior

Test change only.

## Current Behavior

Current test has a few issues:
1. Converting from Bytes to KB, it uses 1000 in one place and 100 in the other, vs 1024.
2. It's running global.gc() at the end. Looking at the test I believe the intent is to run it after each poolSize number of connection attempts.
3. There is no validation at the end.

## Steps to Reproduce (for bugs)

[2016-07-18 23:05] #37 closed

[2016-07-19 17:41] tvrprasad commented on #38
@ben-page  Please take a look.

[2016-10-10 19:56] ankurgupta4891 opened #40 "Error: Acquire Timeout Exceeded for queued queries."
Hi, I'm trying to submit multiple queries (where query execution time (~2-3 mins) is more than acquire time out(1 min)) more than max connections in pool and I get Acquire timeout exceeded error.

## Expected Behavior
Queries which couldn't get connection should be queued and connection acquire time should start when there is a free connection available.

## Steps to Reproduce (for bugs)
Here is s

[2016-10-10 21:23] ben-page commented on #40
Looks like this is working as intended. The acquire timeout is how long `acquire` will wait for an available connection.

[2016-10-10 21:31] ankurgupta4891 commented on #40
Does that mean I should not run queries more than max connections in pool ?

[2016-10-10 21:49] ankurgupta4891 commented on #40
Also from this example, there shouldn't be any available connections for i=3,4,5. So those queries should have waited for connections to be released and available into the pool.

[2016-10-10 21:55] ben-page commented on #40
In general, no. It does not mean that. But I would not allow slow queries to take all of the available connections. No other work can get done. This is the purpose of the timeout: to throw an error rather than just wait forever for a connection.

I'm not sure what you are trying to do. But you could create a dedicated connection pool for your slow queries and disable the acquire timeout. But be ca

[2016-10-10 22:31] ankurgupta4891 commented on #40
I get your point and understood acquire time out definition totally wrong. Thank you so much for clarification.

[2016-10-10 22:33] ben-page commented on #40
No problem.

[2016-10-10 22:33] #40 closed

[2016-10-24 21:58] mcrummey opened #41 "error thrown in tedious-connection-pool when calling release()"
The following error occurs in connection-pool.js line: 245 resulting in the closing of the connection.

The connection should be reused.

Here is my code:

[code]

Below is the stack trace.

[tedious-connection-pool-stacktrace.txt](https://github.com/tediousjs/tedious-connection-pool/files/549099/tedious-connection-pool-stacktrace.txt)

[2016-10-24 22:43] ben-page commented on #41
I can't make sense out of your post. But if I had to guess, I would say you are not waiting for the procedure call to complete before releasing the connection. The connection pool is trying to reset the connection state, but it can't do that while a query is running. The same thing would happen if you released the connection and it was acquired by some other part of your code. You wouldn't be able

[2016-10-24 23:25] mcrummey commented on #41
Calling release() in the callback of the new Request() method fixes my issue.  Should have double checked the example before creating this issue.

Thanks for your time.

[2016-10-24 23:25] #41 closed

[2016-12-22 22:47] TheFarmer1 opened #42 "Acquire calls do not timeout if pool is drained."
The ConnectionPool.drain function clears waiting acquire calls.  These acquire calls will hang forever.  Instead, the waiting requests should timeout immediately (which doesn't seem possible with Timers) or don't clear them and let them timeout.

An easy way to see this is:

`var poolConfig = {
    acquireTimeout: 5000 //sorten the timeout to make the example easier to understand
};

var connectio

[2017-07-25 19:52] vangorra opened #43 "Support tedious 2.0.1?"
This is a feature request. It would be nice if this project supported a modern version of tedious.

[2017-10-26 19:04] andrewsensus opened #46 "Allow prepared statements to persist across returning a connection to the pool"
## Expected Behavior
When returning a connection to the pool, the connection is reset. This invalidates any prepared statements. It is desired to prepare statements and continue using them if the same connection is re-acquired from the pool. In the case of certain errors (in tedious or in code using the pool), it is also desired to allow a connection to be reset.

To accomplish this, an additional

[2017-11-08 17:14] jschell12 commented on #43
So I added a pull request of my own to update the native [tedious](https://github.com/tediousjs/tedious) dependency to 2.1.1.

[2017-12-20 15:41] wallali commented on #43
Hi, Any reason why these changes have not been accepted by the Author?

[2018-02-20 17:25] spanditcaa opened #48 "new maintainer ?"
@arthurschreiber @ben-page @pekim

As discussed in this repo's issues and in tedious, this repo isn't being maintained though the functionality is missing from tedious itself.

My company still uses tedious-connection-pool in several projects and we don't wish to rewrite our code to sequelize or mssql.  I would be happy to take over as maintainer for this project and help keep it up to date for it

[2018-02-25 17:20] ben-page commented on #48
Thanks for the interest. I would be happy for some help. I think [many of the tedious projects need help](https://github.com/tediousjs/node-mssql/issues/601) if you are interested.

[2018-03-07 03:42] npshubh opened #49 "Multiple Request On Multiple Connection"
I'm trying to insert 100 records in the database. But unfortunately, I get my request object updated with the last value in the loop, so field is inserted which

[2018-03-15 22:00] spanditcaa commented on #48
@ben-page as the discussion over there continues, how about we (I) get this module up to date.

[2018-05-29 11:51] varshag91 commented on #35
Hello, I had same error , 1st thing I did was to fix TCP/IP port in
SQL server 2017 configuration manager-->SQL server network configuration-->protocols for sql express -->Protocol Name: TCP/IP -->open -->click tab IP address--> set port to 1433 under dynamic port.-->apply -->ok
Restart service from SQL server services in same window --> SQL server [SQL Express]

recheck changes in TCP/IP -->if 14

[2018-06-01 03:42] vincebanzon opened #50 "Error: connection.release is not a function"
## Expected Behavior
I can't get this to work.
I followed the README.md,

## Current Behavior
I can't release the connection
[code]

## Error Message
TypeError: connection.release is not a function
    at Request [as userCallback] (D:\webservice\app.js:158:18)
    at Request._this.callback (D:\webservice\node_modules\tedious\lib\request.js:60:27)

## Environment
[code]
## Steps to Reproduce (for b

[2018-06-01 03:55] vincebanzon commented on #50
I saw it now. It is in callback in
[code]

Now, I need to add this to all of my request.

[2018-06-01 03:55] #50 closed

[2018-07-26 03:03] chdh opened #51 "Incompatibility with Rollup"
When the ConnectionPool class is used with [Rollup](https://rollupjs.org), the following error message is displayed:

[code]

I had to use to following workaround:

[code]

[2018-07-26 16:23] chdh commented on #51
The error only occurs when I use ConnectionPool from an ES6 module. Is probably more a Rollup problem than a problem of the tedious-connection-pool package.

[2018-07-26 16:23] #51 closed

[2018-09-27 03:49] arthurschreiber commented on #49
Are you changing the `procValues` object during loop iteration? If so, that might explain the issue you are seeing. 🤔 the code snippet you posted can not really be used to debug or reproduce your issue. Would you mind providing an example that can be executed?

[2018-09-27 03:54] arthurschreiber commented on #46
I’m not sure how feasible this request is. 🤔 prepared Statements can not be used across different connections, so this will only work if the same connection is used. But that can’t be guaranteed when using a pool with more than one connection that is managed. And if you’re only using a single connection, why would you want to use a pool at all?

I’m sorry I don’t quite understand your use case her

[2018-09-27 18:45] andrewsensus commented on #46
@arthurschreiber I use code with the "Possible Solution" (plus a tweak to allow the version of tedious to be specified at runtime). The caller of the connection pool uses
[code]
metaInfoByConnection is a WeakMap which maps connections to Maps containing the meta-data needed for tracking which statements have been prepared (as well as anything else I need to track about how the connection is curren

[2018-10-08 22:03] aniltomar10 opened #53 "ConnectionError: Failed to connect to <server name> in 15000ms"
I am using tedious-connection-pool.  I am getting this error intermittently.
unhandledRejection: ConnectionError: Failed to connect to <server name> in 15000ms
    at Connection.<anonymous> (C:\BuildAgent\work\dc9a3934146969e0\node_modules\mssql\lib\tedious.js:378:25)
    at Object.onceWrapper (events.js:315:30)
    at emitOne (events.js:116:13)
    at Connection.emit (events.js:211:7)
    at Conn

[2018-11-28 23:00] rgmembreno commented on #37
We also saw this issue recently and it causes a server crash because the exception could not be handled. Will there be a new release of tedious-connection-pool that contains this fix?

[2019-01-16 04:52] shani117 commented on #48
Hi,

Was there any decision made on this thread? What is the roadmap for this package? Please advise.

Thanks.

[2019-01-28 22:47] BrianLawton opened #54 "1.0.5 release may be incompatible with tedious 5.x release"
## Current Behavior
While I'm aware maintenance of the connection pool library has fallen behind the activity in the main tedious library, for our purposes, all tedious releases through the 4.2.0 have been compatible with the 1.0.5 release of the connection pool. When I attempted to upgrade to the tedious 5.x release, 5.0.1 to be specific, the connection pool library is no longer able to acquire c

[2019-01-31 18:19] BrianLawton commented on #54
After some additional testing, we've narrowed things down to a regression in Tedious 5.0.0 itself. As such, I'm closing this ticket. You can reference https://github.com/tediousjs/tedious/issues/856 for details.

[2019-01-31 18:19] #54 closed, assigned to nobody

[2019-03-19 17:35] niranjan1001 opened #55 "Pause()/resume() doesn't work as expected with connection from connectionPool"
Hello, I am trying to run the below code

var ConnectionPool = require('tedious-connection-pool');
var Request = require('tedious').Request;

var poolConfig = {
    min: 2,
    max: 4,
    log: true
};

var connectionConfig = {
    userName: 'sa',
    password: 'reallyStrongPwd123',
    server: 'localhost'
};

//create the pool
var pool = new ConnectionPool(poolConfig, connectionConfig);

pool.on(

[2019-05-27 10:33] Slos opened #56 "Pool fills up with 'USED' connections - node app restart required as a result"
## Expected Behavior
On calling connection.release(), connections should be released back into the pool and these connections should be in state = 1, meaning 'FREE' state so that they can be reused in the future, regardless of errors having occurred on the connection (timeouts, etc...)

## Current Behavior
My connection pool slowly fills up to the max number of connections where it ends up with al

[2019-05-27 14:27] Slos opened #57 "Timeouts don't seem to work as expected"
## Expected Behavior
Request timeouts mean requests time out and connections on which the request timeout happened are added back to the connection pool, ready to be used again in the future

## Current Behavior
Request timeout settings are being ignored

These are my 4 files containing the test code. A few strings you'll have to substitute before running:

<YOUR_SLOW_SQL_STATEMENT_HERE>
<YOUR_DB_

[2019-08-22 10:01] irgijs opened #58 "Draining the pool after releasing connections may cause write to destroyed stream"
Using
[code]
May (not necessarily) result in the error below
`Connection lost - Cannot call write after a stream was destroyed`

The `pool.release` methods calls the `connection.reset` method. This methods executes SQL queries to reset to the initial state of the connection. `pool.release` does not use promises, so `pool.drain` in the above example is immediately called afterwards. `pool.drain` cl

[2019-08-22 11:08] irgijs commented on #58
Pull Request: https://github.com/tediousjs/tedious-connection-pool/pull/59

[2019-10-24 04:19] spanditcaa commented on #48
@ben-page @shani117  -- I didn't hear anything back so I've actually had our team migrate us to mssql.  It doesn't seem there is enough commitment to maintain this library - and mssql seems to have some weight behind it.  I'd deprecate this library in mssql's favor.

[2019-10-29 07:42] grayvity opened #60 "TypeError: cb is not a function"
I saw https://github.com/tediousjs/tedious/issues/917 this issue. But why didn't you fix in the master branch?

Version:
"tedious": "^6.4.0",
"tedious-connection-pool": "^1.0.5",

Code:

function callProcedure(pool, name, params, ip='') {
    return new Promise((resolve, reject) => {
        pool.acquire(function (err, connection) {
            var data = [];

            var request = new tedious

[2020-02-24 15:23] Oscar-Silva commented on #60
Same issue here.

when i tried `connection.execSql()`

i get a error message:

[2020-03-07 19:01] HuguesGauthier commented on #60
Hello ? can you fix this ?

[2020-03-13 12:18] romullosantos commented on #60
Is there other option to tedious-connection-pool?

[2020-03-19 17:01] nul commented on #58
Is there any update on this?

[2020-03-26 10:45] irgijs commented on #58
@nul The PR was an example fix for this problem, it's up to the maintainer of this repo if our example should be used to fix this. (But the example I provided does work, so I suggest to fork this repo and apply the fix yourself using the PR since this repository is not actively maintained anymore)

[2020-05-27 16:46] ermamud opened #61 "Is this project dead?"
Hi, has this project been abandoned? latest commits were in 2018 and it is not even compatible with latest version of tedious.

[2020-06-06 16:40] matispf84 commented on #61
I think it’s definitely dead...

[2020-12-07 23:12] 700software commented on #61
If I have time I'm accepting PRs to an tediousconnectionpool2 fork

[2021-01-11 20:37] 700software commented on #61
I'm accepting PRs to https://github.com/700software/tedious-connection-pool2

So it's slightly less dead than it once was.

[2021-11-19 08:30] JaggieG opened #63 "request.transformIntoExecuteSqlRpc() is not a function"
- tedious @ v14.0.0 and tedious-connection-pool @ v1.0.1
- Connecting to an Azure DB, although I get the same issue with a standard local SQL as well.

Code

[code]

**Receive this:**

connection.js:1359 - TypeError: request.transformIntoExecuteSqlRpc is not a function

If I use the tedious library without the pooling, then everything works fine

## Possible Solution
I can remove the request.trans

[2021-12-03 08:33] WafiqSalie commented on #61
Any alternatives for connection pooling ?

[2021-12-16 14:53] clshortfuse commented on #61
I've been using this for years:

https://gist.github.com/clshortfuse/33447c2b731531ecf5a7a224f649e818

[code]

It's a little wonky, in retrospect, but it'll automatically release the connection when the promise inside `getConnection(promise)` gets resolved. I might clean it up a bit more.

[2021-12-16 15:02] 700software commented on #61
Feel free to contribute to https://github.com/700software/tedious-connection-pool2

I've used tedious-connection-pool2 personally with no issues.

<strike>I have one PR to merge which I plan to soon. 👀 I've been swamped at work..</strike> ✔ done

[2022-02-03 13:28] mudouasenha commented on #56
I'm with the same problem! In my case, the RequestTimeout is thrown trying to execute a DELETE statement, under a transaction, inside a connectionPool.

[2022-03-13 20:20] ThomasHillLF commented on #63
Looks like it was removed in `v14.3.0` in [this](https://github.com/tediousjs/tedious/commit/0e48a272c6ed9168fa1ae85abd6da47aef98afe5) commit.

[2022-11-25 14:30] tobiasheldring commented on #61
For others finding their way to this dead end, I can recommend going with a generic pool implementation like eg. https://github.com/coopernurse/node-pool. Well supported, promise based and with type definitions 👍